{
  "$schema": "https://json.schemastore.org/swcrc",
  "inlineSourcesContent": true,
  "jsc": {
    "target": "es2022",
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": false,
    "parser": {
      "decorators": true,
      "dynamicImport": true,
      "syntax": "typescript",
      "tsx": false
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "minify": false,
  "module": {
    "lazy": false,
    "noInterop": false,
    "strict": true,
    "strictMode": true,
    "type": "commonjs"
  },
  "sourceMaps": true
}
